{
  admin off
}

:80 {
  encode zstd gzip

  handle /api/admin/* {
    reverse_proxy backend:8000
  }

  handle /api/auth/* {
    reverse_proxy backend:8000
  }

  handle /api/novels/* {
    reverse_proxy backend:8000
  }

  handle /novels/* {
    reverse_proxy backend:8000
  }

  handle /api/public/* {
    reverse_proxy reader:8001
  }

  handle {
    reverse_proxy frontend:3000
  }
}
